.business-selection__title,
.business-selection__subtitle {
  text-align: center;
  color: #757575;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.business-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business-selection__subtitle {
  margin-top: 12px;
}

.business-selection__buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.business-selection__info {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 480px;
}
.business-selection__info-title {
  color: #000;
  text-align: justify;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.business-selection__info-content {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.business-selection__register-button {
  color: #fff;
  font-size: 12px;
  border: none;
  font-weight: 400;
  width: 106px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #5112ab;
}

.business-selection__register-button-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
}
