.product-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-edit__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-edit__image img {
  width: 268px;
  height: 233px;
  border-radius: 10px;
}
.product-edit__form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.product-edit__form-group {
  display: grid;
  grid-template-columns: 60px 198px;
}

.product-edit__form-label {
  color: #757575;
  text-align: right;
  font-size: 12px;
  line-height: 27px;
}
.product-edit__image-upload {
  width: 128px;
  height: 31px;
  border-radius: 10px;
  background: #5112ab;
  border: none;
  color: white;
  margin-top: 10px;
}
.product-edit__form-textarea,
.product-edit__form-input {
  border-radius: 5px;
  margin-left: 4px;
  border: 0.5px solid #757575;
  background: #f4f5f7;
}

.product-edit__form-input {
  height: 23px;
}

.product-edit__form-textarea {
  height: 219px;
}

.product-edit__submit-button {
  border-radius: 10px;
  background: #5112ab;
  color: white;
  border: none;
  width: 128px;
  height: 31px;
}

.product-edit__button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.product-edit__delete-button {
  border-radius: 10px;
  background: #757575;
  width: 128px;
  height: 31px;
  flex-shrink: 0;
  color: white;
  border: none;
}
