.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 155px;
  gap: 21px;
}

.logo {
  margin-top: 20px;
  margin-left: 16px;
}

.button-wrapper {
  margin: 0px 12px;
  margin-top: 12px;
  height: 155px;
  border-radius: 10px 10px 0px 0px;
  background: #d9d9d9;
  padding: 0 12px;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.info-wrapper {
  margin: 0px 12px;
  background-color: white;
  height: calc(100% - 30px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.store-name {
  color: #757575;
  font-size: 12px;
  margin-top: 14px;
}

.store-pay {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 12px;
}

.store-title {
  color: #757575;
  font-size: 18px;
  font-weight: 700;
  margin-top: 12px;
}

.store-subtitle {
  color: #757575;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 12px;
}

.button-info {
  color: #757575;
  font-size: 12px;
}

.button {
  border-radius: 40.963px;
  border: 0.5px solid #a09e9e;
  background: #5112ab;
  width: 302px;
  height: 82px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
