.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 84px;
}
.form-group {
  display: grid;
  grid-template-columns: 84px 194px;
}
.content {
  color: #000;
  font-size: 12px;
  line-height: 32px;
  margin-left: 8px;
}
.label {
  color: #757575;
  text-align: right;
  font-size: 12px;
  line-height: 32px;
}

.form-group input {
  border-radius: 5px;
  border: 0.5px solid #757575;
  background: #f4f5f7;
  width: 194px;
  height: 29px;
  flex-shrink: 0;
  margin-bottom: 5px;
  margin-left: 8px;
}

.submit-button {
  border-radius: 10px;
  background: #5112ab;
  width: 118px;
  height: 52px;
  flex-shrink: 0;
  border: none;
  color: white;
  margin-top: 28px;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
