.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  height: 98%;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 2px;
  font-weight: bold;
  text-align: center;
}

.header span {
  background-color: #d9d9d9;
  height: 33px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
}
.header span:first-child {
  border-top-left-radius: 10px;
}

/* 마지막 자식 - 오른쪽 상단 둥글게 */
.header span:last-child {
  border-top-right-radius: 10px;
}
.payment-item {
  border-bottom: 1px solid #ddd;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 40px;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.details {
  padding: 10px 12px;
  background-color: #f9f9f9;
  font-size: 14px;
  line-height: 1.6;
}

.toggle-icon {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #f3f3f3;
  border-top: 1px solid #ddd;
}

.tab-button {
  background: none;
  border: none;
  font-size: 14px;
  color: #666;
  padding: 10px 20px;
  cursor: pointer;
}

.tab-button.active {
  color: #5112ab;
  font-weight: bold;
}
