.find-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  color: #888;
  margin-top: 25px;
}

.find-links__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
}

.find-links__divider {
  background-color: #d9d9d9;
  width: 1px;
  height: 9px;
}

.find-links__link {
  text-decoration: none;
  color: #757575;
  font-size: 10px;
  transition: color 0.2s;
  cursor: pointer;
}

.find-links__link:hover {
  color: #333;
}
