.select-product__button {
  background-color: #673ab7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.select-product__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
